.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

link{
  cursor: pointer;
}

#submit-button, #login-button{
  cursor: pointer;
} 

.brandList-container{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 100px auto;
}

.singleBrand-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width:300px;
  height:500px;
  margin: auto 10px auto 10px;
}

.brandImage {
  width: 300px;
  height: 500px;
  margin: auto;
}

.brandName{
  position: absolute;
  margin: auto;
  color: white;
  width: 300px;
  background-color: black;
}

.brandContent-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.contentImage-container{
  display: flex;
  margin: 0 10px 0 10px;
}

#brandName{
  text-align: left;
  margin: 50px;
}

.dialog {
  box-shadow: 0 8px 6px -6px black;
  position: static;
  left: 20%;
  top: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog img{
  width: 500px;
  height:700px;
}

.save-to-board-button{
  margin: auto;
}

.commentForm-container{
  display: flex;
  flex-direction: column;
  width: 1000px;
}

#comment-input{
  width: 900px;
  height: 2em;
}

.comment-container{
  text-align: left;
  margin-left: 20px;
}

.comment-container p{
  border-bottom: 1px solid black;
}